{% extends "ECO/base.html" %}

{% block list %}
    <div class="row clearfix">
        {% if all_disease %}
            <ul>
             {% for disease in all_disease %}
                <li><a href="{% url 'ECO:disease_detail' disease.id %}">{{ disease.disease_name }}</a></li>
             {% endfor %}
            </ul>
        {% else %}
            <p>No disease are available.</p>
        {% endif %}
    </div>
    <script>
    $(document).ready(function(){
        $("#disease").addClass("active");
    });
</script>
{% endblock %}
