{% extends "ECO/base.html" %}

{% block list %}
    <div class="list-group">
                 <a href="#l1" class="list-group-item active"><h4>疾病简介</h4></a>
               <div class="list-group-item">
                    <span class="badge">{{ counts.0 }}</span> <a href='#l2'><h4>常见症状</h4></a>
                </div>
               <div class="list-group-item">
                    <span class="badge">{{ counts.1 }}</span> <a href='#l3'><h4>治疗手段</h4></a>
                </div>
                <div class="list-group-item">
                    <span class="badge">{{ counts.2 }}</span> <a href='#l4'><h4>治疗手段对比</h4></a>
                </div>
                <div class="list-group-item">
                     <a href='#l5'><h4>分布</h4></a>
                </div>
                <a class="list-group-item active" href='#l6'><h4>就诊情况</h4></a>
            </div>
{% endblock %}

{% block content %}
    <div class="row clearfix">
                <div class="col-md-12 column">
                    <h1 class="text-left">
                        {{disease.disease_name}}&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="glyphicon glyphicon-plus" style="color: rgb(0, 0, 0);font-size: 18px;">
                            本月新增病友数：{{ disease.fresh_people}}
                        </span>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="glyphicon glyphicon-user" style="color: rgb(0, 0, 0);font-size: 18px;">
                            平台总病友数：{{ disease.total_people}}
                        </span>
                    </h1>
                    <h3 class="text-left" id="l1">
                        疾病简介
                    </h3>
                    <blockquote>
                        <p>
                            {{disease.disease_infor}}
                        </p>
                    </blockquote>
                    <h3 class="text-left" id="l2">
                        常见症状
                    </h3>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    症状名称
                                </th>
                                <th>
                                    治疗手段
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ts in treatments_for_symptoms %}
                            <tr class="info">
                                <td>
                                    <a href="{% url 'ECO:symptom_detail' ts.symptom.id %}">
                                        {{ts.symptom.symptom_name}}
                                    </a>
                                </td>
                                <td>
                                    {% for t in ts.treatments %}
                                        <a>
                                            {{t.treatment_name}}
                                        </a>
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <h3 class="text-left" id="l3">
                        治疗手段
                    </h3>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    名称
                                </th>
                                <th>
                                    类别
                                </th>
                                <th>
                                    人数
                                </th>
                                <th>
                                    用途
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for t in treatments_for_disease %}
                            <tr class="info">
                                <td>
                                    <a href="{% url 'ECO:treatment_detail' t.treatment.id %}">
                                        {{ t.treatment.treatment_name }}
                                    </a>
                                </td>
                                <td>
                                    {{ t.type }}
                                </td>
                                <td>
                                    {{ t.num }}
                                </td>
                                <td>
                                    {{disease_name}}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <h3 class="text-left" id="l4">
                        治疗手段对比
                    </h3>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    名称
                                </th>
                                <th>
                                    疗效综合评分
                                </th>
                                <th>
                                    副作用
                                </th>
                                <th>
                                    评价数目
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for e in evaluations %}
                            <tr class="info">
                                <td>
                                    <a href="{% url 'ECO:treatment_detail' e.treatment.id %}">
                                        {{e.treatment.treatment_name}}
                                    </a>
                                </td>
                                <td>
                                    {{e.score}}
                                </td>
                                <td>
                                    {% for s in e.symptom %}
                                        <a href="{% url 'ECO:symptom_detail' s.id %}">
                                            {{s.symptom_name}}
                                        </a>
                                    {% endfor %}
                                </td>
                                <td>
                                    {{e.num}}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <h3 class="text-left" id="l5">
                        分布
                    </h3>
                    <div class="row clearfix">
                        <div class="col-md-6 column">
                            <h3 class="text-center">
                                年龄分布
                            </h3>
                            <table class="table table-hover">
                                <tbody>
                                    <tr class="info">
                                        <td>
                                            &#60;20
                                        </td>

                                        <td>
                                            {{ages.0}}
                                        </td>
                                    </tr>
                                    <tr class="info">
                                        <td>
                                            20s
                                        </td>

                                        <td>
                                            {{ages.1}}
                                        </td>
                                    </tr>
                                    <tr class="info">
                                        <td>
                                            30s
                                        </td>

                                        <td>
                                            {{ages.2}}
                                        </td>
                                    </tr>
                                    <tr class="info">
                                        <td>
                                            40s
                                        </td>

                                        <td>
                                            {{ages.3}}
                                        </td>
                                    </tr>
                                    <tr class="info">
                                        <td>
                                            50s
                                        </td>

                                        <td>
                                            {{ages.4}}
                                        </td>
                                    </tr>
                                    <tr class="info">
                                        <td>
                                            60s
                                        </td>

                                        <td>
                                            {{ages.5}}
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6 column">
                            <h3 class="text-center">
                                男女比例
                            </h3>
                            <table class="table table-hover">
                                <tbody>
                                    <tr class='info'>
                                        <td>
                                            男性
                                        </td>
                                        <td>
                                            {{num_men}}
                                        </td>
                                    </tr>
                                    <tr class='info'>
                                        <td>
                                            女性
                                        </td>
                                        <td>
                                            {{num_women}}
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <h3 class="text-left" id="l6">
                        就诊情况
                    </h3>
                    <table class="table table-hover">
                        <tbody>
                            <tr class='info'>
                                <td>
                                    已就诊
                                </td>
                                <td>
                                    {{diagnosed}}
                                </td>
                            </tr>
                            <tr class='info'>
                                <td>
                                    未就诊
                                </td>
                                <td>
                                    {{undiagnosed}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
{% endblock %}