{% extends "ECO/base.html" %}

{% block index__image %}
    <div style="background-image:url('/static/img/index.jpg'); height: 577px"></div>
{% endblock %}

{% block index %}
    <div class="row clearfix">
        <div class="col-md-4 column">
                <h2>
                    <span class="glyphicon glyphicon-leaf" style="color: rgb(132, 203, 60); font-size: 33px;"> 疾病</span>
                </h2>
                <p>
                    这里有你想知道的，病因病理一一洞察，病友提供症状特征治疗方案一目了然，更全面的认知是为了更精准的选择，你并不孤单
                </p>
                <p>
                     <a class="btn" href="#">了解更多 »</a>
                </p>
            </div>
        <div class="col-md-4 column">
                <h2>
                    <span class="glyphicon glyphicon-tree-conifer" style="color: rgb(132, 203, 60); font-size: 33px;"> 个人主页
                    </span>
                </h2>
                <p>
                    这里有你曾经历的，时时记录身体状况，了解自己是为了健康在路上，变化看得见<br><br>

                </p>
                <p>
                     <a class="btn" href="{% url 'ECO:person_index' %}">了解更多 »</a>
                </p>
            </div>
        <div class="col-md-4 column">
                <h2>
                    <span class="glyphicon glyphicon-tree-deciduous" style="color: rgb(132, 203, 60); font-size: 33px;"> 社交
                    </span>
                </h2>
                <p>
                    这里有你感兴趣的，关注热点医疗新闻，结识病友分享点滴，不同种治疗过程真实记录，我们互帮互助是为了共同康复
                </p>
                <p>
                     <a class="btn" href="{%  url 'ECO:social_index' %}">了解更多 »</a>
                </p>
            </div>
    </div>

    <script>
    $(document).ready(function(){
        $('#index').addClass('active');
    });
    </script>
{% endblock %}
