{% extends 'ECO/person_base.html' %}

{% block main %}
    <div class="row clearfix">
                <div class="col-md-12 column">
                    <h1 class="text-left">
                        {{disease.disease_name}}&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="glyphicon glyphicon-plus" style="color: rgb(0, 0, 0);font-size: 18px;">
                            本月新增病友数：{{ disease.fresh_people}}
                        </span>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="glyphicon glyphicon-user" style="color: rgb(0, 0, 0);font-size: 18px;">
                            平台总病友数：{{ disease.total_people}}
                        </span>
                    </h1>
                    <h3 class="text-left" id="l1">
                        疾病简介
                    </h3>
                    <blockquote>
                        <p>
                            {{disease.disease_infor}}
                        </p>
                    </blockquote>
                    <h3 class="text-left" id="l5">
                        分布
                    </h3>
                    <div class="row clearfix">
                        <div class="col-md-6 column">
                            <h3 class="text-center">
                                年龄分布
                            </h3>
                            <table class="table table-hover">
                                <tbody>
                                    <tr class="info">
                                        <td>
                                            &#60;20
                                        </td>

                                        <td>
                                            {{ages.0}}
                                        </td>
                                    </tr>
                                    <tr class="info">
                                        <td>
                                            20s
                                        </td>

                                        <td>
                                            {{ages.1}}
                                        </td>
                                    </tr>
                                    <tr class="info">
                                        <td>
                                            30s
                                        </td>

                                        <td>
                                            {{ages.2}}
                                        </td>
                                    </tr>
                                    <tr class="info">
                                        <td>
                                            40s
                                        </td>

                                        <td>
                                            {{ages.3}}
                                        </td>
                                    </tr>
                                    <tr class="info">
                                        <td>
                                            50s
                                        </td>

                                        <td>
                                            {{ages.4}}
                                        </td>
                                    </tr>
                                    <tr class="info">
                                        <td>
                                            60s
                                        </td>

                                        <td>
                                            {{ages.5}}
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6 column">
                            <h3 class="text-center">
                                男女比例
                            </h3>
                            <table class="table table-hover">
                                <tbody>
                                    <tr class='info'>
                                        <td>
                                            男性
                                        </td>
                                        <td>
                                            {{num_men}}
                                        </td>
                                    </tr>
                                    <tr class='info'>
                                        <td>
                                            女性
                                        </td>
                                        <td>
                                            {{num_women}}
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <h3 class="text-left" id="l6">
                        就诊情况
                    </h3>
                    <table class="table table-hover">
                        <tbody>
                            <tr class='info'>
                                <td>
                                    已就诊
                                </td>
                                <td>
                                    {{diagnosed}}
                                </td>
                            </tr>
                            <tr class='info'>
                                <td>
                                    未就诊
                                </td>
                                <td>
                                    {{undiagnosed}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
{% endblock %}