{% extends 'ECO/social_base.html' %}

{% block main %}
    <div class="row clearfix">
		<div class="col-md-12 column">
			<div class="tabbable" id="tabs-772705">
				<ul class="nav nav-tabs">
					<li class="active">
						 <a href="#panel-1" data-toggle="tab">你的关注</a>
					</li>
					<li>
						 <a href="#panel-2" data-toggle="tab">关注你的</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="panel-1">
                        {% for f in you_follow %}
                            <div class="row clearfix">
                                <div class="col-md-2 column">
                                    <img onerror="this.src='/media/head/default.jpg'" src="{{ f.1 }}"height="60" width="60"  class="img-circle" />
                                </div>
                                <div class="col-md-4 column">
                                <h3>
                                    {{ f.0.user.username }}
                                    &nbsp;&nbsp;
                                    {{ f.2 }}岁
                                    &nbsp;&nbsp;
                                    {{ f.3 }}
                                </h3>
                                </div>
                                <div class="col-md-6 column">
                                    <br>
                                    <span class="glyphicon glyphicon-heart" style="color: rgb(255, 0, 0);font-size: 24px;"></span>
                                    &nbsp;&nbsp;
                                    <span class="glyphicon glyphicon-comment" style="color: rgb(0, 163, 225); font-size: 24px;"></span>
                                </div>
                            </div>
                            <br>
                        {% endfor %}
					</div>
					<div class="tab-pane" id="panel-2">
					    {% for f in follow_you %}
                            <div class="row clearfix">
                                <div class="col-md-2 column">
                                    <img onerror="this.src='/media/head/default.jpg'" src="{{ f.1 }}"height="60" width="60"  class="img-circle" />
                                </div>
                                <div class="col-md-4 column">
                                <h3>
                                    {{ f.0.user.username }}
                                    &nbsp;&nbsp;
                                    {{ f.2 }}岁
                                    &nbsp;&nbsp;
                                    {{ f.3 }}
                                </h3>
                                </div>
                                <div class="col-md-6 column">
                                    <br>
                                    <span class="glyphicon glyphicon-heart" style="color: rgb(255, 0, 0);font-size: 24px;"></span>
                                    &nbsp;&nbsp;
                                    <span class="glyphicon glyphicon-comment" style="color: rgb(0, 163, 225); font-size: 24px;"></span>
                                </div>
                            </div>
                            <br>
                        {% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}