{% extends 'ECO/social_base.html' %}

{% block main %}
   <div class="row clearfix">
        {% for m in message_list %}
		<div class="col-md-2 column">
            <br>
            <br>
			 <img onerror="this.src='/media/head/default.jpg'" src="{{ m.1 }}"height="60" width="60"  class="img-circle" />
		</div>
		<div class="col-md-10 column">
			<h3 class="text-left">
				{{ m.0.username }}名字
			</h3>
			<p>
                {{ m.2 }}
			</p>
            <span class="glyphicon glyphicon-map-marker" style="color: rgb(0, 163, 255); font-size: 17px;">{{ m.0.userinfo.area }}</span>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span class="glyphicon glyphicon-calendar" style="color: rgb(0, 163, 255); font-size: 17px;">{{ m.4 }}</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="glyphicon glyphicon-heart" style="color: rgb(255, 0, 0);font-size: 24px;">{{ m.3 }}</span>
		</div>
        {% endfor %}
	</div>
{% endblock %}