{% extends 'ECO/base.html' %}

{% block list %}
    <div class="list-group">
        <a href="{% url 'ECO:social_friendstate' %}" class="list-group-item active"><h4>好友动态</h4></a>
        <div class="list-group-item">
            <span class="badge">{{ counts.0 }}</span> <a href='{% url 'ECO:social_friendlist' %}'><h4>关注列表</h4></a>
        </div>
        <div class="list-group-item">
            <span class="badge">{{ counts.0 }}</span> <a href='{% url 'ECO:social_sendstate' %}'><h4>发表动态</h4></a>
        </div>
        <div class="list-group-item">
            <span class="badge">{{ counts.1 }}</span> <a href='{% url 'ECO:social_newfriend' %}'><h4>发现</h4></a>
        </div>
        <a class="list-group-item active" href='{%  url 'ECO:social_heart' %}'><h4>爱心墙</h4></a>
    </div>
{% endblock %}

{% block content %}
    {% block main %}

    {% endblock %}
    <script>
    $(document).ready(function(){
        $('#social').addClass('active');
    });
    </script>
{% endblock %}