{% extends "ECO/base.html" %}

{% block list %}
    <div class="list-group">
                 <a href="#l1" class="list-group-item active"><h4>症状简介</h4></a>
               <div class="list-group-item">
                    <span class="badge">{{ counts.0 }}</span> <a href='#l2'><h4>对应疾病</h4></a>
                </div>
               <div class="list-group-item">
                    <span class="badge">{{ counts.1 }}</span> <a href='#l3'><h4>治疗手段</h4></a>
                </div>
            </div>
{% endblock %}

{% block content %}
    <div class="row clearfix">
                <div class="col-md-12 column">
                    <h1 class="text-left">
                        {{the_symptom.symptom_name}}
                    </h1>
                    <h3 class="text-left" id="l1">
                        症状简介
                    </h3>
                    <blockquote>
                        <p>
                            {{the_symptom.symptom_infor}}
                        </p>
                    </blockquote>

                    <h3 class="text-left" id="l2">
                        对应疾病
                    </h3>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    名称
                                </th>
                                <th>
                                    病友人数
                                </th>
                                <th>
                                    比例
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in disease_and_num%}
                            <tr class="info">
                                <td>
                                    <a href="{% url 'ECO:disease_detail' d.disease.id %}">
                                        {{d.disease.disease_name}}
                                    </a>
                                </td>
                                <td>
                                    <a>
                                        {{d.num}}
                                    </a>
                                </td>
                                <td>
                                    <div style="width: 90%">
                                        <div class="row" style="background-color: whitesmoke">
                                            <a href="#" title="{{ d.num_rate }}">
                                                <div style="float:left; width: {{ d.num_rate }}%;background-color: #cac8dd">&nbsp;</div>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <h3 class="text-left" id="l3">
                        治疗手段
                    </h3>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    名称
                                </th>
                                <th>
                                    评价人数
                                </th>
                                <th>
                                    疗效
                                </th>
                                <th>
                                    副作用
                                </th>
                            </tr>
                        </thead>
                        <tbody >
                            {% for t in treatment_and_evaluations %}
                            <tr class="info">
                                <td style="width: 80px">
                                    <a href="{% url 'ECO:treatment_detail' t.treatment.id %}">
                                        {{t.treatment.treatment_name}}
                                    </a>
                                </td>
                                <td style="width: 120px">
                                    <div style="width: 80%">
                                        <div class="row" style="background-color: whitesmoke">
                                            <a href="#" title="{{ t.num_rate }}">
                                                <div style="float:left; width: {{ t.num_rate }}%;background-color: #cac8dd">{{ t.num }}</div>
                                            </a>
                                        </div>
                                    </div>
                                </td>

                                <td style="width: 120px">
                                    <div class="row" style="width: 95%">
                                        <a href="#" title="极好{{ t.effect_rate.0 }}"><div style="float:left; width: {{ t.effect_rate.0 }}%;background-color: #d9301d">&nbsp;</div></a>
                                        <a href="#" title="良好{{ t.effect_rate.1 }}"><div style="float:left; width: {{ t.effect_rate.1 }}%;background-color: #ff9000">&nbsp;</div></a>
                                        <a href="#" title="一般{{ t.effect_rate.2 }}"><div style="float:left; width: {{ t.effect_rate.2 }}%;background-color: #fede31">&nbsp;</div></a>
                                        <a href="#" title="无效{{ t.effect_rate.3 }}"><div style="float:left; width: {{ t.effect_rate.3 }}%;background-color: #1ead44">&nbsp;</div></a>
                                    </div>
                                </td>

                                <td style="width: 120px;">
                                    <div class="row" style="width: 95%">
                                        <a href="#" title="严重{{ t.side_rate.0 }}"><div style="float:left; width: {{ t.side_rate.0 }}%;background-color: #0056c2">&nbsp;</div></a>
                                        <a href="#" title="一般{{ t.side_rate.1 }}"><div style="float:left; width: {{ t.side_rate.1 }}%;background-color: #3f80d1">&nbsp;</div></a>
                                        <a href="#" title="轻微{{ t.side_rate.2 }}"><div style="float:left; width: {{ t.side_rate.2 }}%;background-color: #7faae0">&nbsp;</div></a>
                                        <a href="#" title="无影响{{ t.side_rate.3 }}"><div style="float:left; width: {{ t.side_rate.3 }}%;background-color: #bfd5f0">&nbsp;</div></a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
    <script>
    $(document).ready(function(){
        $('#symptom').addClass('active');
    });
    </script>
{% endblock %}